:root {
  --blue: #104a73;
  --red: #de3d33;
}

body {
  background-image: url("./pokeball.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
  background-color: var(--red);
}
